html {
  scroll-behavior: smooth;
}

body {
  font-family: "Source Sans 3", sans-serif;

  width: 100%;
}

/* STANDARDISED CSS SELECTORS DESKTOP */

.flex {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

.end-text {
  text-align: end;
}

.flex-standard {
  display: flex;
}
.width-100 {
  width: 100%;
}
.column-align {
  max-width: 100%;
  width: 600px;
}

.container-align {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  padding: 0 1rem;
}

.heading-align {
  margin: 0 auto;
  max-width: 100%;
  width: 900px;
  text-align: center;
  padding: 0 1rem;
}
.standard-button {
  background-color: #1649ff;
  border: 0;
  border-radius: 5px;
  color: white;
  box-shadow: 0 5px 15px 0 rgba (0, 0, 0, 0.15);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 3.6rem;
  margin-top: 2rem;
}

.standard-button:hover {
  cursor: pointer;
  transform: translatey(-2px);
  transition: transform 0.2s ease;
}
.standard-button:active {
  scale: 0.95;
  transform: 0.5 ease;
  background-color: #1648ffda;
}

.align-navbar {
  max-width: 100%;
  margin: 0 auto;
  width: 1200px;
  padding: 0 1rem;
  justify-content: space-between;
}

.p-align {
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.relative {
  position: relative;
}

.absolute-topbtn {
  position: fixed;
  font-size: 2.5rem;
  right: 2rem;
  bottom: 2rem;
}
.absolute-topbtn:hover {
  cursor: pointer;
  transform: translatey(-5px);
  transition: transform 0.2s ease;
}

.absolute-topbtn:active {
  scale: 0.9;
  transform: ease 0.5s;
}

.h1-desktop {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 850;
}
.h2-desktop {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 0 0 1.5rem 0;
}

.h3-text {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  margin: 0 0 2rem 0;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  color: #333333;
}

.h4-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.icon-padding {
  margin-left: 0.3rem;
}

.header-p {
  font-size: 1.25rem;
}

.standard-p {
  font-size: 1.125;
}

.footer-p {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: white;
}

.hero-padding-desktop {
  padding: 11rem 0 4rem 0;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}

/* STANDARDISED CSS SELECTORS TABLET/MOBILE */

.tablet-block {
  display: block;
}

.tablet-align {
  margin: 0 auto;
  max-width: 100%;
  width: 900px;
  text-align: center;
  padding: 0 1rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.padding-topbottom-04 {
  padding: 0.4rem 0;
}

.h1-mobile {
  font-size: 3rem;
}

.hero-padding-mobile {
  padding: 7rem 0 4rem 0;
}

a .mobile-button {
  background-color: #1649ff;
  border: 0;
  border-radius: 5px;
  color: white;
  box-shadow: 0 5px 15px 0 rgba (0, 0, 0, 0.15);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 2.6rem;
  margin-top: 2rem;
}

.mobile-p {
  font-size: 1rem;
}

.h2-mobile {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0 0 1.5rem 0;
}

/* NAV BAR */

.nav-mobile {
  display: none;
}

nav {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav h4 {
  margin: 0;
}

nav .nav-links {
  margin: 0;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  padding: 2rem;
  font-weight: 600;
  color: #333;
}

.nav-links a {
  text-decoration: none;
  color: #333333;
}

.nav-links a:hover {
  color: #1649ff;
  transition: ease 0.3s;
}

/* SIDE ICON SECTION */

.icon-position {
  position: absolute;
  top: 19rem;
  left: 0;
  display: flex;
  flex-direction: column;
  z-inex: 1;
  background-color: #1649ff;
  padding: 0.8rem 0.2rem;
  border: 0;
  border-radius: 0 5px 5px 0;
}

.side-icons a {
  margin: 0.5rem;
}

/* HERO SECTION */

.hero {
  width: 100%;
  min-height: 600px;
  background-image: url(./img/background/background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* .hero h1 {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 850;
} */

.hero p {
  font-size: 1.2rem;
}

.hero button {
  margin: 0 0.2rem 0 0.2rem;
}

.hero button:hover {
  cursor: pointer;
  transform: translatey(-5px);
  transition: transform 0.2s ease;
}

/* MOBILE HERO SECTION */

.hero-mobile {
  display: none;
}

/* ABOUT ME SECTION */

.about-me-tablet {
  display: none;
}
.about-me {
  background-color: #fafafa;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.div-line {
  border-bottom: 4px solid #1649ff;
  border-radius: 5px;
  width: 4%;
  margin: 0 auto;
}

.about-me-header p {
  margin: 1rem 0 5rem 0;
}

.padding-left {
  padding-left: 4rem;
}

.padding-right {
  padding-right: 5rem;
}

.about-me button {
  margin-top: 2rem;
}

.skill {
  background-color: rgba(153, 153, 153, 0.2);
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
}

.no-margin-left {
  margin-left: 0;
}

.flex-skills {
  display: flex;
}

/* ABOUT ME TABLET SECTION */

/* PROJECTS SECTION */

.project-desktop {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.project-header p {
  margin: 1rem 0 5rem 0;
}

.project-img {
  width: 100%;
}

.project-img img {
  width: 500px;
  border: 0;
  border-radius: 5px;
}

.project-button-left {
  margin-right: 0.5rem;
}

.project-button-right {
  margin-left: 0.5rem;
}

/* PROJECT TABLET */

.project-align-tablet {
  .tablet-align {
    margin: 0 auto;
    max-width: 100%;
    width: 900px;
    padding: 0 1rem;
  }
}

/* PROJECT MOBILE */

.project-mobile {
  display: none;
}

/* CONTACT SECTION */

.contact-desktop {
  width: 100%;
  background-image: url(./img/background/background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  padding-bottom: 4rem;
}

/* CONTACT SECTION MOBILE */
.contact-mobile {
  display: none;
  width: 100%;
  background-image: url(./img/background/background2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  padding-bottom: 4rem;
}

/* FOOTER SECTION */

footer {
  background-color: black;
  color: white;
  min-height: 250px;
  padding: 3rem 0 0 0;
}

.footer-right {
  width: 30%;
  padding-bottom: 4rem;
  padding-left: 6rem;
}

.footer-left {
  width: 70%;
}

.border-bottom {
  border-bottom: 2px solid rgba(153, 153, 153, 0.2);
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.copyright p {
  margin: 0;
}

i:hover {
  cursor: pointer;
}

.icon-right {
  margin-left: 0.2rem;
}
.icon-left {
  margin-right: 0.2rem;
}

/* MEDIA QUERY SECTION */

@media screen and (max-width: 1024px) {
  .absolute-topbtn {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }

  .side-icons {
    display: none;
  }

  .about-me-desktop {
    display: none;
  }

  .about-me-tablet {
    display: block;
  }

  .hero {
    min-height: 300px;
  }
  .hero-desktop {
    display: none;
  }
  .hero-mobile {
    display: block;
  }

  .project-desktop {
    display: none;
  }

  .project-mobile {
    display: block;
  }
  .project-text p {
    margin-top: 3rem;
  }
  .contact-desktop {
    display: none;
  }

  .contact-mobile {
    display: block;
  }
  a .mobile-button:active {
    scale: 0.95;
    transform: 0.5 ease;
    background-color: #1648ffda;
  }
}

@media screen and (max-width: 768px) {
  .project-img img {
    width: 66%;
  }
}
