html {
  scroll-behavior: smooth;
}

body {
  font-family: "Play", sans-serif;
  color: white;
  width: 100%;
  background-color: #1a191d;
}

/* STANDARDISED CSS SELECTORS DESKTOP */

.flex {
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

.end-text {
  text-align: end;
}

.start-text {
  text-align: start;
}

.flex-standard {
  display: flex;
}
.width-100 {
  width: 100%;
}
.column-align {
  max-width: 100%;
  width: 600px;
}

.container-align {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  padding: 0 1rem;
}

.heading-align {
  margin: 0 auto;
  max-width: 100%;
  width: 900px;
  text-align: center;
  padding: 0 1rem;
}
.standard-button {
  background-color: #1a191d;
  border: 4px solid;
  border-radius: 1px;
  color: #e23d85;
  box-shadow: 0 5px 15px 0 rgba (0, 0, 0, 0.15);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 2.6rem;
  margin-top: 2rem;
}

.standard-button:hover {
  border-color: #e23d85;
  cursor: pointer;
  transform: translatey(-2.5px);
  transition: transform 0.2s ease;
}
.standard-button:active {
  scale: 0.95;
  transform: 0.5 ease;
  border-color: white;
  color: white;
}

.align-navbar {
  max-width: 100%;
  margin: 0 auto;
  width: 1200px;
  padding: 0 1rem;
  justify-content: space-between;
}

.p-align {
  max-width: 100%;
  width: 700px;
  margin: 0 auto;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.relative {
  position: relative;
}

.absolute-topbtn {
  position: fixed;
  font-size: 2.5rem;
  right: 2rem;
  bottom: 2rem;
}
.absolute-topbtn:hover {
  cursor: pointer;
  transform: translatey(-5px);
  transition: transform 0.2s ease;
}

.absolute-topbtn:active {
  scale: 0.9;
  transform: ease 0.5s;
}

.absolute-topbtn-mobile {
  position: fixed;
  font-size: 1.5rem;
  right: 1rem;
  bottom: 1rem;
}
.absolute-topbtn-mobile:hover {
  cursor: pointer;
  transform: translatey(-5px);
  transition: transform 0.2s ease;
}

.absolute-topbtn-mobile:active {
  scale: 0.9;
  transform: ease 0.5s;
}

.absolute-topbtn-mobile {
  display: none;
}

.h1-desktop {
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}

.h2-desktop {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin: 0 0 1.5rem 0;
}

.h3-text {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  margin: 0 0 2rem 0;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 1rem;
  color: #333333;
}

.h4-text {
  font-size: 1.3rem;
  font-weight: 500;
  color: white;
}

.icon-padding {
  margin-left: 0.3rem;
}

.header-p {
  font-size: 1.25rem;
}

.standard-p {
  font-size: 1.125;
}

.footer-p {
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  color: white;
}

.hero-padding-desktop {
  padding: 35vh 0 4rem 0;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}
.width-40 {
  width: 40%;
}

.width-60 {
  width: 60%;
}

/* STANDARDISED CSS SELECTORS TABLET/MOBILE */

.mobile-block {
  display: block;
}

.mobile-align {
  margin: 0 auto;
  max-width: 100%;
  width: 900px;
  text-align: center;
  padding: 0 1rem;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-bottom-05 {
  margin-bottom: 0.5rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}

.padding-topbottom-04 {
  padding: 0.4rem 0;
}

.h1-mobile {
  font-size: 3.5rem;
}

.hero-padding-mobile {
  padding: 12vh 0 4rem 0;
}

a .mobile-button {
  background-color: #1a191d;

  border: 3px solid;
  border-radius: 1px;
  color: #e23d85;
  box-shadow: 0 5px 15px 0 rgba (0, 0, 0, 0.15);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 2.6rem;
  margin-top: 0.5rem;
}

a .mobile-button:hover {
  cursor: pointer;
}

.mobile-p {
  font-size: 1rem;
}

.h2-mobile {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  margin: 0 0 1.5rem 0;
}

/* NAV BAR */

.nav-mobile {
  display: none;
}

nav {
  background-color: #1a191d;
  box-shadow: 0px 0px 20px 0px #ffffff0b;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav h4 {
  margin: 0;
}

nav .nav-links {
  margin: 0;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  padding: 2rem;
  font-weight: 600;
  color: #333;
}

.nav-links a {
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #e23d85;
  transition: ease 0.3s;
}

.nav-desktop h2 {
  padding-left: 1rem;
}

/* SIDE ICON SECTION */

.icon-position {
  position: absolute;
  top: 50vh;
  left: 0;
  display: flex;
  flex-direction: column;
  z-inex: 1;
  background-color: none;
  padding: 0.6rem 0.1rem;
}
.icon-position:hover {
  scale: 1.5;
  left: 0.8rem;
}

.side-icons a {
  margin: 0.5rem;
}

/* HERO SECTION */

.hero {
  width: 100%;
  min-height: 100vh;
}

.hero p {
  font-size: 1.2rem;
}

.hero button {
  margin: 0 0.2rem 0 0.2rem;
}

/* MOBILE HERO SECTION */

.hero-mobile {
  display: none;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ABOUT ME SECTION */

.about-me-mobile {
  display: none;
  background-color: #1a191d;
}
.about-me {
  background-color: #1a191d;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.div-line {
  border: 4px solid #e23d85;
  border-radius: 50px;
  width: 1rem;
  height: 1rem;
  margin: 0 auto;
}

.about-me-header p {
  margin: 1rem 0 5rem 0;
}

.padding-left {
  padding-left: 4rem;
}

.padding-right {
  padding-right: 5rem;
}

.about-me button {
  margin-top: 2rem;
}

.aboutme-text {
  padding-right: 8rem;
}

.skill {
  background-color: rgba(153, 153, 153, 0.2);
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0.5rem 0.5rem 0;
}

.no-margin-left {
  margin-left: 0;
}

.flex-skills {
  display: flex;
}

/* PROJECTS SECTION */

.project-container {
  margin-bottom: 60px;
}

.project-desktop {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
  background-color: #1a191d;
}

.project-header p {
  margin: 1rem 0 5rem 0;
}

.project-img {
  width: 100%;
}

.project-img img {
  width: 500px;
  border: 0;
  border-radius: 5px;
}

.project-button-left {
  margin-right: 0.5rem;
}

.project-button-right {
  margin-left: 0.5rem;
}

.flex-languages {
  display: flex;
  flex-wrap: wrap;
}

.language {
  background-color: rgba(153, 153, 153, 0.2);
  display: inline-block;
  padding: 0.6rem 1.4rem;
  border: 0;
  border-radius: 1px;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 0.5rem 0.5rem 0;
}

.project-mobile {
  display: none;
  padding-bottom: 2rem;
  background-color: #1a191d;
}

/* CONTACT SECTION */

.contact-desktop {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6.25rem;
  padding-bottom: 4rem;
  background-color: #1a191d;
}

.contact-links a {
  color: #e23d85;
  text-decoration: underline;
  font-weight: 600;
}

.contact-mobile {
  display: none;
  width: 100%;
  background-color: #1a191d;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#mobile-email {
  color: #e23d85;
  text-decoration: underline;
}
#mobile-email:hover {
  cursor: pointer;
}
#desktop-email {
  color: #e23d85;
  text-decoration: underline;
}
#desktop-email:hover {
  cursor: pointer;
}

/* FOOTER SECTION */

.footer-desktop {
  background-color: #1a191d;
  color: white;
  min-height: 250px;
  padding: 3rem 0 0 0;
}

.footer-right {
  width: 30%;
  padding-bottom: 4rem;
  padding-left: 6rem;
}

.footer-left {
  width: 70%;
}

.border-bottom {
  border-bottom: 2px solid rgba(153, 153, 153, 0.2);
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.copyright p {
  margin: 0;
}

i:hover {
  cursor: pointer;
}

.icon-right {
  margin-left: 0.2rem;
}
.icon-left {
  margin-right: 0.2rem;
}

/* FOOTER MOBILE SECTION */
.footer-mobile {
  display: none;
  background-color: #1a191d;
  color: white;
  min-height: 250px;
  padding: 3rem 0 0 0;
}

.side-bar-container {
  position: relative;
}

.side-bar {
  z-index: 3;
  height: 100vh;
  background-color: #1a191d;
  width: 100%;
  position: fixed;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.side-bar ul {
  margin-top: 80px;
  padding: 0;
}

.side-bar li {
  list-style: none;
  text-align: center;
  line-height: 90px;
  font-size: 1.6rem;
  font-weight: 500;
}

.close-btn {
  margin: 25px 33px 0 0;
  float: right;
}

.close-btn:active {
  scale: 0.8;
  transition: 0.2s ease;
}

/* MEDIA QUERY SECTION */

@media screen and (max-width: 1024px) {
  .absolute-topbtn {
    display: none;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }

  .side-icons {
    display: none;
  }

  .hero-desktop {
    display: none;
  }

  .hero-mobile {
    display: block;
    min-height: 50vh;
  }

  .about-me-desktop {
    display: none;
  }

  .about-me-mobile {
    display: block;
  }

  .project-desktop {
    display: none;
  }

  .project-mobile {
    display: block;
  }
  .project-text p {
    margin-top: 3rem;
  }
  .contact-desktop {
    display: none;
  }

  .contact-mobile {
    display: block;
  }
  a .mobile-button:active {
    scale: 0.95;
    transform: 0.5 ease;
    background-color: #1648ffda;
  }
  .absolute-topbtn-mobile {
    display: block;
    right: 1.5rem;
    bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .project-img img {
    width: 66%;
  }
  .skill5 {
    margin-left: 0;
  }

  .footer-desktop {
    display: none;
  }

  .footer-mobile {
    display: block;
    padding-top: 1rem;
  }
  .hero-desktop {
    display: none;
  }

  .hero-mobile {
    display: block;
    min-height: 50vh;
  }
  .h1-mobile {
    font-size: 2.7rem;
  }
}
