body {
  font-family: "Source Sans 3", sans-serif;

  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-projects {
  display: flex;
}
.width-100 {
  width: 100%;
}
.column-align {
  max-width: 100%;
  width: 600px;
}

.container-align {
  margin: 0 auto;
  max-width: 100%;
  width: 1200px;
  padding: 0 1rem;
}

.heading-align {
  margin: 0 auto;
  max-width: 100%;
  width: 900px;
  text-align: center;
  padding: 0 1rem;
}
.standard-button {
  background-color: #1649ff;
  border: 0;
  border-radius: 5px;
  color: white;
  box-shadow: 0 5px 15px 0 rgba (0, 0, 0, 0.15);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 3.6rem;
}

.standard-button:hover {
  cursor: pointer;
  transform: translatey(-5px);
  transition: transform 0.2s ease;
}
.standard-button:active {
  scale: 0.9;
  transform: 0.5 ease;
}

.align-navbar {
  max-width: 100%;
  margin: 0 auto;
  width: 1200px;
  padding: 0 1rem;
  justify-content: space-between;
}

.p-align {
  max-width: 100%;
  width: 650px;
  margin: 0 auto;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.h3-text {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 0;
}
/* NAV BAR */

nav {
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
}

nav h4 {
  margin: 0;
}

nav .nav-links {
  margin: 0;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  padding: 2rem;
  font-weight: 600;
  color: #333;
}

.logo-text {
  font-size: 1.4rem;
  font-weight: 700;
  padding-left: 1rem;
}

/* HERO SECTION */

.hero {
  width: 100%;
  min-height: 500px;
  background-image: url(./img/background/background2.svg);
  padding-top: 180px;
}

.hero h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.hero button {
  margin: 0 0.2rem 0 0.2rem;
}

.hero button:hover {
  cursor: pointer;
  transform: translatey(-5px);
  transition: transform 0.2s ease;
}

/* ABOUT ME SECTION */

.about-me {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 40px;
}

.about-me h2 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin: 0 0 1.5rem 0;
}

.div-line {
  border-bottom: 3px solid #1649ff;
  border-radius: 5px;
  width: 3%;
  margin: 0 auto;
}

.about-me-header p {
  margin: 1rem 0 4rem 0;
}

.padding-left {
  padding-left: 4rem;
}

.padding-right {
  padding-right: 5rem;
}

.about-me-text h3 {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.about-me button {
  margin-top: 2rem;
}

.skill {
  background-color: rgba(153, 153, 153, 0.2);
  display: inline-block;
  padding: 0.8rem 1.6rem;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  margin: 0.5rem;
}

.no-left-margin {
  margin-left: 0;
}

/* PROJECTS SECTION */

.project-section {
  padding-top: 80px;
}

.project-header h2 {
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  margin: 0 0 1.5rem 0;
}

.project-header p {
  margin: 1rem 0 4rem 0;
}

.project-img {
  width: 100%;
}

.project-img img {
  width: 500px;
  border: 0;
  border-radius: 5px;
}
.project-text h3 {
}
